.container {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 260px;
}
.dashboardInputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid white;
    border-radius: 15px;


    /* margin-top: 70px;
    margin-bottom: 20px; */
}

.productID{
    margin-right: 10px;
}
.productName {
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.productType{
    margin-right: 10px;
}
.productWholesalePrice {
    margin-left: 10px;
    padding-top: 10px;
}
.producRetailPrice{
    margin-left: 10px;
    padding-bottom: 80px;
    
}
.productQuantity {
    position: relative;
    left: 11px;
    padding-bottom: 70px;
}
.product_description {
    position: relative;
    bottom: 55px;
    right: -50px;
}
.productInitialCost {
    position: relative;
    bottom: 55px;
    right: -12px;
}
.dashboardFormButton {
    position: relative;
    bottom: -10px;
    left: -100px;

}
