.containerDash{
    display: flex;
    padding: 1px;
    align-items: flex-end;

}

.dashboardContents {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-around;
    width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px #1e2f97;
    height: 50px;
    cursor: pointer;
    background-color: #1aa7ec;
}
/* .dashboardContents > div {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
} */
.menuCost {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #797ef6;
    color: white;
    font-size: 20px;
}
.menuName {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #797ef6;
    color: white;
    font-size: 20px;
}
.menuRetail {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #797ef6;
    color: white;
    font-size: 20px;
}
.menuQuantity {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #797ef6;
    color: white;
    font-size: 20px;
}
.menuDescription {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #797ef6;
    color: white;
    font-size: 13px;
}
.lowStock {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 12%;
    height: 100%px;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffba4a;
    color: white;
    font-size: 13px;
}
.dashboardContents :hover {
    opacity: 0.8;
}


